.person-card-content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.person-card-body.tiny {
  padding: 0.5rem;
}
.person-card-pic {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
}
.person-card-text {
  padding-left: 2rem;
}
.person-card-text.tiny {
  padding-left: 0.5rem;
}
.person-card-pic.small {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
}
.person-card-pic.tiny {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
}
.selected {
  background-color: #2d91e7 !important;
}
.selectable,
.clickable {
  cursor: pointer;
  transition: background-color 0.3s;
}
.selectable:hover,
.clickable:hover {
  background-color: #5caaed;
}
@media (max-width: 600px) {
  .person-card-pic {
    width: 3rem;
    height: 3rem;
    margin: 0.3rem;
  }
  .person-card-body {
    padding: 0.5rem;
  }
  h4 {
    font-size: large !important;
  }
  h5 {
    font-size: medium !important;
  }
  h6 {
    font-size: medium !important;
  }
  .person-card-text {
    padding-left: 0.5rem;
  }
}
