.memocard {
  margin-bottom: 1rem;
}
.memocard-location {
  color: #555;
  font-size: 1rem;
  margin-top: 8px;
}
.memocard-photo {
  height: 20rem;
  background-position: center;
  background-size: cover;
}
