#register-card {
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 25rem;
  text-align: center;
  margin-top: 25rem;
  margin-bottom: 5rem;
}
#register-form {
  text-align: left;
}
.text-field {
  width: 100%;
}
