.person-card-content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.person-card-pic {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
}
.person-card-text {
  padding-left: 2rem;
}
